.pictures-collection .collection {
    width: 100%;
}

.pictures-collection .collection .collection-item {
    display: flex;
    justify-content: space-between;
}

.picture-content {
    display: flex;
    align-items: center;
    text-align: center;
}

.picture-img {
    height: 5em;
}

.picture-name {
    margin: 0.5em;
}

.actions {
    display: flex;
    align-items: center;
}

.actions .material-icons {
    cursor: pointer;
}