@font-face {
  font-family: 'coolvetica';
  src: local('coolvetica'), 
        url(./font/coolvetica.ttf) format('truetype');
  font-display: block;
}

@font-face {
  font-family: 'BiGPoiNts';
  src: local('BiGPoiNts'), 
        url(./font/BiGPoiNts.otf) format('opentype');
  font-display: block;
}

