.navbar {
  background-color: #089CCC;
}

.galerie-nav .active {
  background-color: white;
}

.galerie-nav .tab a {
  color: #19CCC8;
}

.galerie-nav .active  a {
  color: red;
}

.galerie-nav .tab a:hover {
  color: rgb(199, 67, 32, 0.8);
}

.logo {
  margin: 10px;
  width: 200px;
}
