.App {
  text-align: center;
  overflow-y:hidden;
  color: rgba(0,0,0,0.87);
  font-size: 15px;
  line-height: 1.5;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

h1 {
    font-size: 4.2rem;
    margin: 2.1rem 0 1.68rem 0;
    line-height: 110%;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
}

.content {
  width: 90%;
  margin: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.g-recaptcha div {
  display: initial;
}
